/*fonts*/
@font-face{
src: url("../font/brandon-grotesque/Brandon_reg.otf");
font-family: 'Brandon_reg';
	
}
@font-face{
src: url("../font/brandon-grotesque/Brandon_bld.otf");
font-family: 'Brandon_bld';
	
}
@font-face{
src: url("../font/brandon-grotesque/Brandon_light.otf");
font-family: 'Brandon_light';
	
}
@font-face{
src: url("../font/brandon-grotesque/Brandon_med.otf");
font-family: 'Brandon_med';
	
}
@font-face{
	src: url("../font/cubano/Cubano-Regular.otf")
}
/*fonts*/
/* common start*/
body{
	margin: 0;
	padding: 0;
	font-family:'Brandon_reg';
	font-size: 18px;
	font-weight: 400;
}
.wrapper{
	width: 70%;
	overflow: hidden;
	margin: 0 auto;
	padding: 40px;
}
.wrapper2{
	width: 65%;
	overflow: hidden;
	margin: 0 auto;
	padding: 80px 0;
}

img{
/*	width: 100%;*/
}
/* common end*/

/*header /banner start*/

header{
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.header{
	overflow: hidden;
}
.logo{
	width: 13%;
	float: left;
	padding-top: 17px;
	
}
/*menu start*/
.menu{
	width: 60%;
	float: right;
	
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	font-family: 'Brandon_med';
	font-size: 18px;
	color: white;
	padding: 0 14px;
	display: block;
	transition: .3s;
}
.menu ul li a:hover{
	color: #777777;
}
/*menu end*/
.banner{
	text-align: center;
	padding-top: 100px;
}
.boldt1{
	font-family:'Brandon_light';
	font-weight: 300;
	font-size: 32px;
	color: white;
}
.boldt2{
	font-family: 'Brandon_bld';
	font-weight: 700;
	font-size: 66px;
	color: white;
	text-transform: uppercase;
	margin-top: -10px;
	
}
.button{
	text-align: center;
	padding-bottom: 55px;
	
}
button{
	background: none;
	border: none;
	border: 3px solid white;
	border-radius: 5px;
	padding: 15px 65px;
	font-family: 'Brandon_bld';
	font-size: 23px;
	color: white;
	margin-top: 40px;
	transition: .3s;
	cursor: pointer;	
}
button:hover{
	color: white;
	background:rgba(132,132,132,0.70);	
}
/*header/banner end*/
/*webdev start*/

.webdev .left{
	width: 70%;
	float: left;
}
h2{
	font-family: 'Brandon_light';
	font-weight: 300;
	font-size: 60px;
	color: black;
	margin-top: 0;
}
h2 span{
	font-family: 'Brandon_bld';
	font-weight: 700;
	font-size: 60px;
	color: black;
}
webdev .right{
	width: 25%;
	float: right;
	margin-top: 7%;
}
/*webdev end*/
/*webdev start*/
.id_branding{
	background-color: #fafafa;
}
.id_branding .left{
	width: 30%;
	float: left;
	margin-top: 5%;
}
.id_branding .right{
	width: 64%;
	float: right;
}

/*webdev end*/

/*features start*/
.features{
	
}
.wrapper2{
	
}
.left{
	width: 45%;
	float: left;
	overflow: hidden;
	
}
.left:nth-child(even){
	margin-left: 10%;
	
}
.icon{
	position: relative;
	width: 20%;
	float: left;
}
.box{
	width: 75px;
	height: 75px;
	background: black;
	border-radius: 50%;
}
i{
	position: absolute;
	color: white;
	font-size: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.text{
	width: 75%;
	float: right;
	margin-top: -28px;
	
}
.title{
	font-family: 'Brandon_med';
	font-size: 22px;
	color: #222222;
	margin-bottom: -10px;
}
/*features end*/


/*testi start*/
.testi{
	background-color: #fafafa;
}
.testi .t_head{
	text-align: center;
}
.testi .t_head h2{
	margin-top: -20px;
}
.testi .t_head .t_title{
	font-size: 22px;
}
.testi .test{
	overflow: hidden;
	margin-top: 60px;
}
.float_l1{
	width: 25%;
	float: left;
}
.float_l2{
	width: 70%;
	float: left;
}

.testi .leftside{
	
}
.testi .leftside .t_icon{
	position: relative;
	width: 200px;
	height: 200px;
	background: black;
	border-radius: 50%;
}
.testi .leftside .t_icon i{
	position: absolute;
	color: white;
	font-size: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.float_r1{
	width: 70%;
	float: right;
}
.float_r2{
	width: 25%;
	float: right;
}
.float{
	float: right;
}
.testi .contant{
	box-sizing: border-box;
	padding: 30px 30px 20px 45px;
	background-color: white;
}
.testi .rightside_arrow{
	position: relative;
}
.testi .rightside_arrow:before{
	content: '';
	position: absolute;
	top: 40%;
	left: -30px;
	border-top: 15px solid transparent;
	border-right: 30px solid white;
	border-bottom: 15px solid transparent;
}
.testi .leftside_arrow{
	position: relative;
}
.testi .leftside_arrow:after{
	content: '';
	position: absolute;
	top: 40%;
	right: -30px;
	border-top: 15px solid transparent;
	border-left: 30px solid white;
	border-bottom: 15px solid transparent;
}
.testi .contant q {
	font-size: 26px;
}
.testi .contant .t_name{
	font-size: 20px;
	color: #7690c5;
	margin-top: 8px;
}

/*testi end*/
/*clients start*/
.clients{
	
}
.clients ul{
	overflow: hidden;
}
.clients ul li{
	list-style: none;
	float: left;
	margin-right: 5.5%;
}
.clients ul li a{
	text-decoration: none;
	text-align: center;
	display: block;
}

/*clients end*/
/*team start*/
.team{
	background-color: #111111;
}
.t_text {
	text-align: center;
	margin-bottom: 100px;
}
.t_text h2{
	color: white;
	margin-bottom: -20px;
}
.t_text span{
	color: white;
}
.t_text p{
	font-size: 22px;
}
.members{
	overflow: hidden;
}
.t_members{
	width: 30%;
	float: left;
	margin-right: 44px;
	display: block;
}
.t_members:last-child{
	margin-right: 0;
}
.t_members .member_icon{
	width: 250px;
	height: 250px;
	border: 5px solid white;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
}
.member_icon i{
	position: absolute;
	color: white;
	font-size: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}
.name{
	font-family: 'Brandon_med';
	font-weight: 700;
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 10px 0;
}
.designation{
	font-family: 'Brandon_light';
	font-weight: 300;
	font-size: 18px;
	color: white;
	text-align: center;
}
.social_icons{
	overflow: hidden;
	width: 260px;
	margin: 0 auto;
}
.social_icons ul{
	margin-left: 13px;
}
.social_icons ul li{
	list-style: none;
	float: left;
	margin: 0 5px;
}
.social_icons ul li a{
	text-decoration: none;
	display: block;
	width: 40px;
	height: 40px;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
}
.social_icons ul li a i{
	position: absolute;
	color: white;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	
}

.member_contant{
	margin-top: 50px;
	text-align: center;
	font-size: 20px;
	color: #ebebeb;
	padding: 0 100px;
}
/*team end*/
/*footer start*/
.footer{
	background-color: #7690c5;
}
.footer p{
	font-family:'Brandon_med';
	font-size: 16px;
	color: white;
	text-align: center;
	border-top: 1px solid white;
	padding-top: 25px;
}

/*footer end*/









